# check and fix the max deviation between the input path and the output trajectory
check_trajectory_deviation:
  enabled: true
  max_deviation: 0.07 # [m]
  max_iterations: 3 # [-]
  first_segment: true

# Allows to neglect waypoints in the original path if the new path
# does not violate max distance from the original path.
# This makes for similar but sparser paths, which are easier for the
# trajectory generator to work with.
path_straightener:
  enabled: true
  max_deviation: 0.01 # [m]

# sampling dt of the output trajectory
sampling_dt: 0.01 # [s]

# add noise to the user-defined waypoints
# only for debugging
add_noise:
  enabled: false
  max: 0.30 # [m] # +max, -max of flat distribution

# while checking the final trajectory, don't allow
# returning results which are n-times longer / shorter than
# the initial 'baca' prediction of the length
max_trajectory_len_factor: 3.0 # [-]
min_trajectory_len_factor: 0.33 # [-]

# how many times to try the plannin + sampling if the sampling fails?
n_attempts: 3 # [-]

# if the generation and sampling fails completely and the result is infeasible
# should we at least provide a naive constant-velocity solution which will
# move the drone and therefore avoid potential deadlocks?
fallback_sampling:
  enabled: true
  accel_factor: 1.0 # how fast when comparing to constraints
  speed_factor: 1.0 # how fast when comparing to constraints

time_penalty: 100
soft_constraints_enabled: true
soft_constraints_weight: 1.5
time_allocation: 2 # method, 2 = Mellinger
equality_constraint_tolerance: 1.0e-3
inequality_constraint_tolerance: 0.1
max_iterations: 10
derivative_to_optimize: 0
