<launch>
  <arg name="uav" default="uav1" />
  <node name="pathfinder" pkg="pathfinder" type="pathfinder" output="screen">
    <rosparam file="$(find pathfinder)/config/pathfinder.yaml" command="load" />
    <remap from="~odom_in" to="/$(arg uav)/odometry/odom_main" />
    <remap from="~octomap_in" to="/$(arg uav)/octomap_server/octomap_full" />
    <remap from="~goto_in" to="/$(arg uav)/pathfinder/goto" />
    <remap from="~mpc_prediction_in" to="/$(arg uav)/control_manager/mpc_tracker/prediction_full_state" />
    <remap from="~trajectory_generation_out" to="/$(arg uav)/trajectory_generation/get_path" />
    <remap from="~trajectory_reference_out" to="/$(arg uav)/control_manager/trajectory_reference" />
  </node>

</launch>
